@model IEnumerable<URDesign.Models.Furniture>
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <style>
        .slick-headerrow-column {
            background: #87ceeb;
            text-overflow: clip;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
        }

            .slick-headerrow-column input {
                margin: 0;
                padding: 0;
                width: 100%;
                height: 100%;
                -moz-box-sizing: border-box;
                box-sizing: border-box;
            }
    </style>
</head>
<body>
    <h2>Furniture List</h2>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <div style="position:relative">

        <div style="width:100%;">
            <div id="teamGrid" style="width:100%;height:500px;"></div>
        </div>
    </div>

    <link href="@Url.Content("~/Content/slick.grid.css")" rel="stylesheet" type="text/css" />

    <script src="~/Scripts/jquery-1.7.min.js"></script>
    <script src="~/Scripts/jquery.event.drag-2.2.js"></script>
    <script src="~/Scripts/jquery-ui-1.8.16.custom.min.js"></script>


    <!-- These libraries caused a break in header and cell alignment
        script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.event.drag.js"></script>
    <script src="~/Scripts/jquery-ui-1.10.3.min.js"></script>
    <script src="~/Scripts/jquery.event.drag.min.js"></script-->

    <script src="~/Scripts/SlickGrid/slick.core.js"></script>
    <script src="~/Scripts/SlickGrid/slick.dataview.js"></script>
    <script src="~/Scripts/SlickGrid/slick.grid.js"></script>
    <script src="~/Scripts/SlickGridRunner.js"></script>

   
</body>
</html>